<html>
  <head>
  
  </head>
  <body>
    <style>

      .price-after {
        color: green;
        font-weight: bold;
      }
      .card {
        height: 370px;
      } 
      .card-body {
        padding: 0 0 !important;
      }
      .card-img-top {
        max-height: 200px;
        text-align: center;
      }

      .list-group-item {
        padding: 0 0 !important;
      }

      .advance-list {
        display: none;
      }

      .short-list-item {
        padding: 10px; border-bottom: 1px solid #ccc;
      }
    </style>

    <%- include('navbar'); %>
    <div style="padding: 10px 35px;">
    <h3 style="margin-top: 20px;" class="text-center">LỊCH SỬ CẬP NHẬT</h3>
    <hr>
    <button style="margin-bottom: 15px;" class="btn btn-dark change-type-btn">Xem dạng hình ảnh</button>
      <div class="short-list">
        <div class="font-weight-bold short-list-item row">
            <div class="col-6">Tên sản phẩm</div>
            <div class="col-2">Giá</div>
            <div class="col-2">Tình trạng</div>
            <div class="col-2">Thời gian</div>
        </div>
        <% changes.forEach(function(change, index){ %>
        <div class="short-list-item row">
          <div class="col-6"><a href="<%= change.link %>"><%= change.name %></a></div>
          <div class="col-2"><% if(change.priceBefore != change.priceAfter){ %>
            <span class="price-after"><%= change.priceAfter %> VNĐ</span>
            <% } else{ %>  
              Không đổi
            <% } %></div>
          <div class="col-2"><% if(change.inStock == true) { %> Còn hàng <% } else{ %> Hết hàng <% } %></div>
          <div class="col-2"><%= change.time.toLocaleDateString() %>
            <%= change.time.getHours() %>:<%= String(change.time.getMinutes()).padStart(2, '0') %></div>
        </div>
        <% }); %>
      </div>
      <div class="advance-list">
      <div class="row">
      <% changes.forEach(function(change, index){ %>
      
      <div class="col-lg-3 col-sm-6">
        <div class="card shadow-lg p-2 mb-5 bg-white rounded">
          <img class="card-img-top" src="<%= change.img %>">
          <div class="card-body">
            <h5 class="card-title"><a href="<%= change.link %>"><%= change.name %></a></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Thời gian: <%= change.time.toLocaleDateString() %>
              <%= change.time.getHours() %>:<%= String(change.time.getMinutes()).padStart(2, '0') %></li>
              <% if(change.priceBefore != change.priceAfter){ %>
                <li class="list-group-item">Giá: <%= change.priceBefore %> VNĐ => <span class="price-after"><%= change.priceAfter %> VNĐ</span></li>
                <li class="list-group-item">Tình trạng: <% if(change.inStock == true) { %> Còn hàng <% } else{ %> Hết hàng <% } %></li>
              <% } else{ %>  
                <li class="list-group-item">Tình trạng: <% if(change.inStock == true) { %> Còn hàng <% } else{ %> Hết hàng <% } %></li>
              <% } %>          
          </ul>
        </div>
      </div>
      <% }); %>
    </div>
    </div>
    </div>
    <script>
        $(document).ready(function() {
          $(".history-item").addClass("active");
        } );

        $(".change-type-btn").click(() => {
          if($(".change-type-btn").html() == "Xem dạng hình ảnh")
            $(".change-type-btn").html("Xem dạng danh sách")
          else $(".change-type-btn").html("Xem dạng hình ảnh")
          $(".short-list").toggle();
          $(".advance-list").toggle();
        })
    </script>
  </body>
</html>