<html>
  <head>
  
  </head>
  <body>
    <style>

      .price-after {
        color: green;
        font-weight: bold;
      }
      .card {
        height: 495px;
      }
      .card-img-top {
        max-height: 180px;
        text-align: center;
      }
    </style>

    <%- include('navbar'); %>
    <div style="padding: 10px 35px;">
    <h3 style="margin-top: 20px;" class="text-center">Lịch sử Update</h3>
    <hr>
      <% changes.forEach(function(change, index){ %>
      <% if((index+1)%4 == 1) { %>
        <div class="row">
      <% } %>
      <div class="col-lg-3 col-sm-12">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="<%= change.img %>">
          <div class="card-body">
            <h5 class="card-title"><a href="<%= change.link %>"><%= change.name %></a></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Thời gian: <%= change.time.toLocaleDateString() %>
              <%= change.time.getHours() %>:<%= String(change.time.getMinutes()).padStart(2, '0') %></li>
              <% if(change.priceBefore != change.priceAfter){ %>
                <li class="list-group-item">Giá: <%= change.priceBefore %> VNĐ => <span class="price-after"><%= change.priceAfter %> VNĐ</span></li>
                <li class="list-group-item">Tình trạng: <% if(change.inStock == true) { %> Còn hàng <% } else{ %> Hết hàng <% } %></li>
              <% } else{ %>  
                <li class="list-group-item">Tình trạng: <% if(change.inStock == true) { %> Còn hàng <% } else{ %> Hết hàng <% } %></li>
              <% } %>          
          </ul>
        </div>
      </div>
      <% if((index+1)%4 == 0) { %>
      </div>
      <% } %>
      <% }); %>
    </div>
    <script>
        $(document).ready(function() {
          $(".history-item").addClass("active");
        } );
    </script>
  </body>
</html>